@import url('https://fonts.googleapis.com/css?family=Lato');

:root {
  --dark-link-color: #ff7f00 !important;
}

body {
    font-family: 'Lato', sans-serif;
}

h1, h2, .rst-content .toctree-wrapper p.caption, h3, h4, h5, h6, legend {
    font-family: 'Lato', sans-serif;
}

a {
    color: #ff7f00;
}

@media screen and (min-width: 1200px) {
    .wy-nav-content {
        max-width: 1200px;
    }
}

html[data-theme="light"] .wy-nav-top,
.wy-nav-top {
    background-color: #ff7f00 !important;
}

html[data-theme="light"] .wy-side-nav-search {
    background-color: #ff7f00;
}

html[data-theme="dark"] .wy-side-nav-search {
    background-color: #ff7f00 !important;
}

.wy-side-nav-search > div.version {
    color: #333;
}

.wy-side-nav-search input[type="text"] {
    border-color: #BF5F00;
}

.wy-menu-vertical a:active {
    background-color: #ff7f00;
}

html[data-theme="light"] .rst-content dl:not(.docutils) dt {
    background: #faf4ec;
    border-top: solid 3px #ff7f00;
}

html[data-theme="dark"] .rst-content dl:not(.docutils) dt {
    background: #0d0d0d;
    border-top: solid 3px #ff7f00;
}

html[data-theme="dark"] .descclassname,
html[data-theme="dark"] .descname {
    background: #0d0d0d !important;
    color: #ff7f00 !important;
}

html[data-theme="light"] .only-dark {
   display: none;
}
html[data-theme="dark"] .only-light {
   display: none;
}
