root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
trim_trailing_whitespace = true
insert_final_newline = true

[*.js]
indent_size = 2

[*.h]
indent_size = 4

[*.cc]
indent_size = 4

[*.xsd]
indent_size = 4
