mediatomb.spec
*.swp
mediatomb-service-optware
.idea
cmake-build-debug
*.orig
CMakeCache.txt
CMakeFiles
cmake_install.cmake
Makefile
mediatomb
**/node_modules/
**/.idea/
**/coverage/
**/_buildconfig/sqlite3.sql.Z
config/zpipe
doc/_build
config/*.sql.Z
config/*.sql.Z.c
.vscode
build
