.idea
.vscode

*.swp
*.orig

CMakeCache.txt
CMakeFiles
cmake_install.cmake
cmake-build-*
Makefile
CTestTestfile.cmake
build.ninja
.ninja_deps
.ninja_log
compile_commands.json

Testing/

**/node_modules/
**/coverage/
**/_buildconfig/sqlite3.sql.Z

config/zpipe
config/*.sql.Z
config/*.sql.Z.c

doc/_build
build

gerbera.service
