*.o
*.a
Makefile
Makefile.in
config.log
.deps
mediatomb.spec
configure
configure_aux
aclocal.m4
autoconfig.h*
autom4te.cache
stamp-h*
*.swp
mediatomb-service-optware
upnpconfig.h
config.status
build/mediatomb
.idea
cmake-build-debug
