{
  "env": {
    "browser": true,
    "commonjs": true,
    "jquery": true,
    "es6": true,
    "mocha": true,
    "jasmine": true,
    "node": true
  },
  "extends": "eslint:recommended",
  "globals": {
    "Cookies": "readonly"
  },
  "plugins": [
    "standard",
    "promise"
  ],
  "rules" : {
    "no-unused-expressions": "off",
    "no-unused-vars": [
      "error",
      {
        "varsIgnorePattern": "should|expect|fixture|Cookies"
      }
    ]
  },
  "parserOptions": {
    "ecmaVersion": 2017,
    "sourceType": "module"
  }
}