{
  "env": {
    "browser": true,
    "commonjs": true,
    "jquery": true,
    "es6": true,
    "mocha": true,
    "jasmine": true,
    "node": true
  },
  "extends": "eslint:recommended",
  "globals": {
    "Cookies": "readonly"
  },
  "plugins": [
    "promise"
  ],
  "rules" : {
    "no-unused-expressions": "off",
    "no-unused-vars": [
      "warn",
      {
        "varsIgnorePattern": "event|should|expect|fixture|Cookies"
      }
    ]
  },
  "parserOptions": {
    "ecmaVersion": 2022,
    "sourceType": "module"
  }
}
