{
  "env": {
    "browser": true,
    "commonjs": true,
    "jquery": true,
    "es6": true,
    "mocha": true,
    "node": true
  },
  "extends": "eslint:recommended",
  "plugins": [
    "standard",
    "promise"
  ],
  "rules" : {
    "no-unused-expressions": "off",
    "no-unused-vars": [
      "error",
      {
        "varsIgnorePattern": "should|expect"
      }
    ]
  },
  "parserOptions": {
    "ecmaVersion": 2017
  }
}