/*MT_J*/
#top-bar {
	background: #dddddd url(../images/filmstrip.png) repeat-x 0 50%;
	height: 90px;
}

#mediatomb-logo {
	margin-left: 35px;
	background: transparent url(../images/mediatomb.png) no-repeat 50% 50%;
	width: 253px;
	height: 90px;
}

#mediatomb-logo span {
	display: none;
}

#status-div {
	position: absolute;
	left: 20px;
	top: 26px;
	width: 25px;
	height: 38px;
	background: transparent url(../images/status.png) no-repeat;
}

.loading {
	background: transparent url(../images/status_loading.png) no-repeat !important;
}

#status-div span {
	display: none;
}

#container, #content, #nav {
	background: #ffffff;
	height: 100%;
}

#tree-fs-toolbar-panel {
	height: 28px;
}

#tree-db-toolbar-panel {
	height: 28px;
}

#grid-toolbar-panel {
	height: 28px;
}

#main-panel, #main {
	background: #ffffff;
	height: 100%;
}

#details-panel {
	background: #ffffff;
	height: 100%;
}

#main, #details {
	/*padding: 4px;*/
}

.nav-panel {
	padding: 2px;
}

.nav-tree {
	overflow: auto;
	height: 100%;
}

.x-btn-icon .button-add {
	background-image: url(../icons/stock_add.png);
}

.x-btn-icon .button-edit {
	background-image: url(../icons/stock_edit.png);
}

.x-btn-icon .button-remove {
	background-image: url(../icons/remove_this.png);
}

.x-btn-icon .button-folder {
	background-image: url(../icons/tree/folder-open.gif);
}
.x-btn-icon .button-refresh {
	background-image: url(../icons/icon_refresh.png);
}

/* IE PNG fix from http://webfx.eae.net/dhtml/pngbehavior/pngbehavior.html */
img {
	behavior: url(../js/pngbehavior.htc);
}

/* ext theme overrides */

.x-layout-panel-hd-text {
	font-weight: bold;
}

.x-layout-panel {
	border: 1px solid #999999;
}

.x-grid-row-selected td, .x-grid-locked .x-grid-row-selected td  {
	background-color: #666666 !important;
}
