/*MT_J*/

/* Custom Ext Tree */

.x-tree-node-collapsed .x-tree-node-icon {
	background-image: url(../icons/tree/folder.gif);
}
.x-tree-node-expanded .x-tree-node-icon {
	background-image: url(../icons/tree/folder-open.gif);
}
.x-tree-node-leaf .x-tree-node-icon {
	background-image: url(../icons/tree/folder.gif);
}
.x-tree-lines .x-tree-elbow {
	background-image: url(../icons/tree/elbow.gif);
}
.x-tree-lines .x-tree-elbow-plus {
	background-image: url(../icons/tree/elbow-plus.gif);
}
.x-tree-lines .x-tree-elbow-minus {
	background-image: url(../icons/tree/elbow-minus.gif);
}
.x-tree-lines .x-tree-elbow-end {
	background-image: url(../icons/tree/elbow-end.gif);
}
.x-tree-lines .x-tree-elbow-end-plus {
	background-image: url(../icons/tree/elbow-end-plus.gif);
}
.x-tree-lines .x-tree-elbow-end-minus {
	background-image: url(../icons/tree/elbow-end-minus.gif);
}
.x-tree-lines .x-tree-elbow-line {
	background-image: url(../icons/tree/elbow-line.gif);
}
.x-tree-no-lines .x-tree-elbow-plus {
	background-image: url(../icons/tree/elbow-plus-nl.gif);
}
.x-tree-no-lines .x-tree-elbow-minus {
	background-image: url(../icons/tree/elbow-minus-nl.gif);
} 
.x-tree-no-lines .x-tree-elbow-end {
	background: transparent;
}
.x-tree-no-lines .x-tree-elbow-end-plus {
	background-image: url(../icons/tree/elbow-end-plus-nl.gif);
}
.x-tree-no-lines .x-tree-elbow-end-minus {
	background-image: url(../icons/tree/elbow-end-minus-nl.gif);
}
.x-tree-node div.x-tree-drag-insert-below {
	border-bottom: 1px dotted #82D773;
}
.x-tree-node div.x-tree-drag-insert-above {
	border-top: 1px dotted #82D773;
}
.x-tree-dd-underline .x-tree-node div.x-tree-drag-insert-below a {
	border-bottom: 2px solid #82D773;
}
.x-tree-dd-underline .x-tree-node div.x-tree-drag-insert-above a {
	border-top: 2px solid #82D773;
}
.x-tree-node .x-tree-selected a span {
	background: #666666;
	color: white;
}

/* Invisible folders / leafs */ 
.x-tree-node-leaf img.invisibleLeaf { 
        background-image:url(../icons/tree/invisible_leaf.gif); 
} 
.x-tree-node-collapsed img.invisibleFolder { 
        background-image:url(../icons/tree/invisible_folder.gif); 
} 
.x-tree-node-expanded img.invisibleFolder { 
        background-image:url(../images/tree/invisible_folder-open.gif); 
} 
