/* Tree Style */
.treetitle {
	padding:2px;
	cursor:default;

	font-family: "Helvetica", "Arial", "MS Sans Serif", sans-serif;
	font-size: 13px;
	color: #444444;
}
.editednode {
	padding:2px;
	cursor:default;
	background-color: #FFFFFF;;
	color: #000000;

	font-family: "Helvetica", "Arial", "MS Sans Serif", sans-serif;
	font-size: 13px;
}
.editednodeinput {
	background-color: #FFFFFF;;
	color: #000000;
	
	width: 150px;
	height: 17px;
	
	border-style: solid;
	border-width: 1px;
	border-color: #000000;

	font-family: "Helvetica", "Arial", "MS Sans Serif", sans-serif;
	font-size: 13px;
}
.treetitleselectedfocused {
	padding:2px;
	cursor:default;
	background-color: #ff8000;
	color: #FFF;
	font-family: "Helvetica", "Arial", "MS Sans Serif", sans-serif;
	font-size: 13px;
}
.treetitleselectedblured {
	padding:2px;
	cursor:default;
	background-color: #ff8000;
	color: #444;
	font-family: "Helvetica", "Arial", "MS Sans Serif", sans-serif;
	font-size: 13px;
}
